<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crop Disease Identification</title>
</head>
<body>
    <h1>Crop Disease Identification</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="file" accept=".png, .jpg, .jpeg, .gif" required>
        <button type="submit">Upload Image</button>
    </form>
    {% if message %}
        <p>{{ message }}</p>
    {% endif %}
    {% if filepath %}
        <img src="{{ filepath }}" alt="Uploaded Image" style="max-width: 500px;">
    {% endif %}
</body>
</html>
